<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>icons</title>
    <style>
    body {
      margin:0;
      padding:10px 20px;
      background:@white;
      color:#222;
    }
    h1, div, footer {
      font-family:"Helvetica Neue", Arial, sans-serif;
    }
    h1 {
      margin:20px 0 10px;
      font-size:30px;
      font-weight:normal;
    }
    .icons__item {
      cursor:pointer;
    }
    .icons__item:hover {
      color:#3c90be;
    }
    .icons__item i {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 40px;
      line-height: 40px;
      font-size: 30px;
    }
    footer {
      margin-top:40px;
      font-size:14px;
      color:#999;
    }
    </style>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
      <h1>Usage</h1>
      <pre><code>&lt;i icon=&quot;<span id="name">name</span>&quot;&gt;&lt;/i&gt;</code></pre>
      
      <p>(Click on an icon to get the class name)</p>

      <h1>icons</h1>

      <div class="icons" id="icons">
          
              <div class="icons__item" name="about">
                <i icon="about"></i>
                about
              </div>
          
              <div class="icons__item" name="account_admin">
                <i icon="account_admin"></i>
                account_admin
              </div>
          
              <div class="icons__item" name="account_user">
                <i icon="account_user"></i>
                account_user
              </div>
          
              <div class="icons__item" name="activity">
                <i icon="activity"></i>
                activity
              </div>
          
              <div class="icons__item" name="admin">
                <i icon="admin"></i>
                admin
              </div>
          
              <div class="icons__item" name="advertising">
                <i icon="advertising"></i>
                advertising
              </div>
          
              <div class="icons__item" name="alert">
                <i icon="alert"></i>
                alert
              </div>
          
              <div class="icons__item" name="alert_circle">
                <i icon="alert_circle"></i>
                alert_circle
              </div>
          
              <div class="icons__item" name="android">
                <i icon="android"></i>
                android
              </div>
          
              <div class="icons__item" name="angle_down">
                <i icon="angle_down"></i>
                angle_down
              </div>
          
              <div class="icons__item" name="angle_left">
                <i icon="angle_left"></i>
                angle_left
              </div>
          
              <div class="icons__item" name="angle_right">
                <i icon="angle_right"></i>
                angle_right
              </div>
          
              <div class="icons__item" name="angle_up">
                <i icon="angle_up"></i>
                angle_up
              </div>
          
              <div class="icons__item" name="apple">
                <i icon="apple"></i>
                apple
              </div>
          
              <div class="icons__item" name="arrow-down">
                <i icon="arrow-down"></i>
                arrow-down
              </div>
          
              <div class="icons__item" name="arrow-left">
                <i icon="arrow-left"></i>
                arrow-left
              </div>
          
              <div class="icons__item" name="arrow-right">
                <i icon="arrow-right"></i>
                arrow-right
              </div>
          
              <div class="icons__item" name="audio">
                <i icon="audio"></i>
                audio
              </div>
          
              <div class="icons__item" name="baby">
                <i icon="baby"></i>
                baby
              </div>
          
              <div class="icons__item" name="boy">
                <i icon="boy"></i>
                boy
              </div>
          
              <div class="icons__item" name="check">
                <i icon="check"></i>
                check
              </div>
          
              <div class="icons__item" name="circle">
                <i icon="circle"></i>
                circle
              </div>
          
              <div class="icons__item" name="close">
                <i icon="close"></i>
                close
              </div>
          
              <div class="icons__item" name="close_circle">
                <i icon="close_circle"></i>
                close_circle
              </div>
          
              <div class="icons__item" name="config">
                <i icon="config"></i>
                config
              </div>
          
              <div class="icons__item" name="content">
                <i icon="content"></i>
                content
              </div>
          
              <div class="icons__item" name="down">
                <i icon="down"></i>
                down
              </div>
          
              <div class="icons__item" name="feedback">
                <i icon="feedback"></i>
                feedback
              </div>
          
              <div class="icons__item" name="fraud">
                <i icon="fraud"></i>
                fraud
              </div>
          
              <div class="icons__item" name="girl">
                <i icon="girl"></i>
                girl
              </div>
          
              <div class="icons__item" name="help">
                <i icon="help"></i>
                help
              </div>
          
              <div class="icons__item" name="home">
                <i icon="home"></i>
                home
              </div>
          
              <div class="icons__item" name="images">
                <i icon="images"></i>
                images
              </div>
          
              <div class="icons__item" name="internet">
                <i icon="internet"></i>
                internet
              </div>
          
              <div class="icons__item" name="left">
                <i icon="left"></i>
                left
              </div>
          
              <div class="icons__item" name="locker">
                <i icon="locker"></i>
                locker
              </div>
          
              <div class="icons__item" name="log">
                <i icon="log"></i>
                log
              </div>
          
              <div class="icons__item" name="malware">
                <i icon="malware"></i>
                malware
              </div>
          
              <div class="icons__item" name="menu">
                <i icon="menu"></i>
                menu
              </div>
          
              <div class="icons__item" name="minus">
                <i icon="minus"></i>
                minus
              </div>
          
              <div class="icons__item" name="mobile">
                <i icon="mobile"></i>
                mobile
              </div>
          
              <div class="icons__item" name="notifications">
                <i icon="notifications"></i>
                notifications
              </div>
          
              <div class="icons__item" name="off">
                <i icon="off"></i>
                off
              </div>
          
              <div class="icons__item" name="ok">
                <i icon="ok"></i>
                ok
              </div>
          
              <div class="icons__item" name="play">
                <i icon="play"></i>
                play
              </div>
          
              <div class="icons__item" name="plus">
                <i icon="plus"></i>
                plus
              </div>
          
              <div class="icons__item" name="protection">
                <i icon="protection"></i>
                protection
              </div>
          
              <div class="icons__item" name="record">
                <i icon="record"></i>
                record
              </div>
          
              <div class="icons__item" name="right">
                <i icon="right"></i>
                right
              </div>
          
              <div class="icons__item" name="settings">
                <i icon="settings"></i>
                settings
              </div>
          
              <div class="icons__item" name="shield">
                <i icon="shield"></i>
                shield
              </div>
          
              <div class="icons__item" name="social">
                <i icon="social"></i>
                social
              </div>
          
              <div class="icons__item" name="spinner">
                <i icon="spinner"></i>
                spinner
              </div>
          
              <div class="icons__item" name="star">
                <i icon="star"></i>
                star
              </div>
          
              <div class="icons__item" name="stats">
                <i icon="stats"></i>
                stats
              </div>
          
              <div class="icons__item" name="summary">
                <i icon="summary"></i>
                summary
              </div>
          
              <div class="icons__item" name="trackers">
                <i icon="trackers"></i>
                trackers
              </div>
          
              <div class="icons__item" name="up">
                <i icon="up"></i>
                up
              </div>
          
              <div class="icons__item" name="user">
                <i icon="user"></i>
                user
              </div>
          
              <div class="icons__item" name="users">
                <i icon="users"></i>
                users
              </div>
          
              <div class="icons__item" name="videos">
                <i icon="videos"></i>
                videos
              </div>
          
              <div class="icons__item" name="virus">
                <i icon="virus"></i>
                virus
              </div>
          
              <div class="icons__item" name="widget">
                <i icon="widget"></i>
                widget
              </div>
          
              <div class="icons__item" name="wifi">
                <i icon="wifi"></i>
                wifi
              </div>
          
              <div class="icons__item" name="windows">
                <i icon="windows"></i>
                windows
              </div>
          
      </div>

      


      <script>
        (function() {
          document.getElementById('icons').onclick = function(e) {
            e = e || window.event;
            var name = e.target.getAttribute('name') || e.target.parentNode.getAttribute('name');
            document.getElementById('name').innerHTML = name;
            
          }
        })();
      </script>
  </body>
</html>
