<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>niji - login</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/styles.css">
  </head>

  <body>
    <header class="nj-header logo">
      <div class="nj-wrapper">
        <h1><a class="nj-headline" href="index.html">Section name</a></h1>
      </div>
    </header>
    <div class="nj-view bkg-gradient">
      <div class="nj-content">
        <section class="nj-wrapper">
          <article class="nj-center nj-middle" column>
            <div class=" nj-body">
              <div class="nj-row">
                <i class="nj-icon large" icon="ok">ok</i>
              </div>
              <div class="nj-row">
                <p>Te hemos enviado un correo electrónico con más instrucciones</p>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </body>
</html>
