<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>login</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/styles.css">
  </head>

  <body>
    <header class="nj-header bkg-header logo">
      <div class="nj-wrapper">
        <h1><a class="nj-headline" href="index.html">Section name</a></h1>
      </div>
    </header>
    <div class="nj-view">
      <div class="nj-content">
        <section class="nj-wrapper">
          <article column>
            <div class="nj-row">
              <p class="color-subdued">Introduce tus datos de acceso</p>
            </div>
            <label class="nj-label">Número de teléfono</label>
            <div class="nj-row">
              <div columns="5">
                <label class="nj-input">+34</label>
                <span column-span="4">
                  <input type="text" class="nj-input block">
                </span>
              </div>
            </div>
            <div class="nj-row">
              <div class="nj-small-gutter" columns="5">
                <span>
                  <label class="nj-input">PIN</label>
                </span>
                <span>
                  <input type="text" class="nj-input block">
                </span>
                <span>
                  <input type="text" class="nj-input block">
                </span>
                <span>
                  <input type="text" class="nj-input block">
                </span>
                <span>
                  <input type="text" class="nj-input block">
                </span>
              </div>
            </div>
            <div class="nj-row">
              <label class="nj-checkbox">
                <input type="checkbox">
                <span icon="check">Acepto los términos y condiciones</span>
              </label>
            </div>
            <div class="nj-row">
              <a href="#" class="nj-button disabled block">Entrar</a>
            </div>
            <div class="nj-row">
              <a href="forgot_pin.html" class="nj-button link">He olvidado mi PIN</a>
            </div>
            <div class="nj-row">
              <a href="#" class="nj-button link">Crear nueva cuenta</a>
            </div>
          </article>
        </section>
      </div>
    </div>
  </body>
</html>
